.footer {
  background-color: #fff;
  padding: 100px 50px 50px 50px;
  margin-top: 20px;
  color: #441a1a;
}
.footer-nav-item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #441a1a;
  margin: 10px 100px;
}

.footer-nav-item a span:hover {
  color: #0b17c4;
  border-bottom: 1px solid #000;
}
