.footer {
  background-color: #fff;
  padding: 100px 50px 50px 50px;
  margin-top: 20px;
  color: #441a1a;
}
.nav-item a {
  color: #441a1a;
  padding-top: 20px;
  padding: 10px 20px;
  border: none;
}
